
:root {
    --color-primario: #F3A847;
    --color-alterno: #f59416;
    --color-claro: #ffffff;
    --color-import: #131921;
    --letra1: 'Audiowide', cursive;

  }

body{
    margin: 0;
    box-sizing: content-box;
    font-family: var(--letra1)
}
h4{
    font-size: 14px;
    margin: 11px 0 0;
}

header{
    width: 100%;
    height: 150px;
    /*border: 0.01px solid black;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:var(--color-import) ;
}
header img{
    width: 150px;
    height: 150px;
    padding-left: 40px;
    padding-right: 60px;
}
.nav__shop,
.nav__disc{   
   
    padding: 5px;
    text-decoration: none;
    color:var(--color-primario);
}

.buscar{
    
    width: 300px;
    height: 30px;
    /*border: 1px solid black;*/
    margin: 0 30px 0;
    display: flex;
    justify-content: space-between;
}
.buscar input{
    width: 260px;
    padding: 0 10px 0 10px;
    border: none;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}
::-webkit-input-placeholder { 
    font-family: var(--letra1);
    font-weight: 100;
    color: var(--color-primario); 
    font-size: 17px;
    opacity: 0.3;
} 
.buscar__icon{
    border: none;
    outline: none;
    width: 40px;
    height: 30px;
    padding: 0;
    background: var(--color-primario);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.buscar__icon--img{
    padding: 0 10px 0 10px;
    width: 12px;
    height: 14px;
    background: var(--color-primario);
}

.buscar__icon--img:hover, 
.buscar__icon:hover{
    background: #e6ad63;
}

main{
    width: 100%;
    height: 150vH;
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 1px 1px;
    /*border: 1px solid rgb(255, 0, 0);*/
}

.container-filtros {
    grid-column: 1/2;
   
}
/*=================================*/






/*=================================*/
/*____________PRODUCTOS____________*/
.container-productos{
    grid-column: 2/3;
    background-image: url("https://www.gifsanimados.org/data/media/911/bandera-de-eeuu-imagen-animada-0056.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 33%33% 33%;
    grid-template-rows: 50% 50%;
    /*border: 1px solid rgb(0, 17, 255);*/
}
.container-productos__btn1 {
    grid-column: 1/2;
    grid-row:1/2;
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    
}
.container-productos__btn2 {
    grid-column: 2/3;
    grid-row:1/2;
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.container-productos__btn3 {
    grid-column: 3/4;
    grid-row:1/2;
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.container-productos__btn4 {
    grid-column: 1/2;
    grid-row:2/3;
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.container-productos__btn5 {
    grid-column: 2/3;
    grid-row:2/3;
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.container-productos__btn6 {
    grid-column: 3/4;
    grid-row:2/3;
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.container-productos__btn1,
.container-productos__btn2,
.container-productos__btn3,
.container-productos__btn4,
.container-productos__btn5,
.container-productos__btn6{
    border: 1px solid rgb(199, 199, 199);
    box-shadow: 0px 0px 10px 3px rgba(165, 165, 165, 0.5);
    cursor: pointer;
    text-decoration: none;
    color: var(--color-primario);
    border-radius: 5px;
    width: 90%;
    height: 90%;
    justify-self: center;
    align-self: center;
    display: flex;
}


.product-img{
    border-radius: 5px;
    border: 2px solid rgb(226, 226, 226);
    height: 250px;    
    width: 250px;
    margin: 2px  5px;
}
.mini-description{
    width: 250px;
    height: 80px;
    margin: 0;
}

/*modal*/

.modal-contenido{
    background-color:var(--color-claro);
    width:600px;
    padding: 20px ;
    margin: 20px auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
  .modal{
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
  }
  .modal:target{
    opacity:1;
    pointer-events:auto;
    
  }
  .imagen {
    width: 200px;
    height: 300px;
    margin: 10px auto ;
    object-fit: cover;
    
  }
  .conten-left {
    width: 50%;
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family:var(--letra1);
    font-size: 14px;
  }

  h5 {
    margin: 0 0 0 5px;

  }
  .lista-color {
    margin: 0;
    width: 190px;
    height: 50px;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: flex-start;
    padding: 0;
    list-style:none;
  }
  .lista-color__u {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    text-decoration: none;
    background: black;
  }
  
  .lista-color__color{
    margin: auto 3px auto;
  }
  .lista-color__d {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    text-decoration: none;
    background: #777252;
  }
  .lista-color__t {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    text-decoration: none;
    background: #FF9500;
  }
  /*==================================*/
  .size {
    margin: 0;
    width: 250px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    padding: 0;
    list-style:none;
  }
  .size__li{
    margin: auto 3px auto;
  }
  .size__btn {
    width: 40px;
    height: 40px;
    /*border: 1px solid rgb(0, 0, 0);*/
    border-radius: 10px;
    list-style: none;
    outline: none;
  }
  
  .size__btn:checked {
    background: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
  }/*
  .size__btn:target {
    background: black;
    color:rgb(255, 255, 255);
  }*/
  
  #form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: var(--color-alterno);
  }
  
  input[type="radio"]:checked ~ label {
    color: var(--color-primario);
  }


/*modal*/
/*____________PRODUCTOS____________*/



/*----------------------------*/

footer{
    width: 100%;
    height: 315px;
    border-top: 1px solid gainsboro;
    /*border: 1px solid black;*/
    /*background: var(--color-import);*/
    display: grid;
    grid-template-columns: 28% 72%;
    grid-template-rows: 36% 43% 21%;
    grid-template-areas: "redes registro" 
                         "empresa servicios"
                         "logo tyc";
}

.img-red{
    padding: 5px;
}
.redes{
    grid-area: redes;
    /*border: 1px solid black;*/
    background: var(--color-primario);
}
.redes__lista{
    padding:0 ;
    margin: 32px  10px ;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.registro{
    grid-area: registro;
    /*border: 1px solid red;*/
    display: flex;
}
.registro__title{
    width: 200px;
    align-self: center;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
}   
.registro__title h1{
    font-size: 16px;
    font-weight: 700;
}
.registro__p{
    width: 300px;
    display: flex;
    align-items: center;
}
.registro__p p{
    padding: 15px;
    margin: 0;
    font-size: 15px;
}
.registro__in{
    width: 350px;
    display: flex;
    align-items: center;
}
.registro__in--btn{
    width: 320px;
    height: 50px;
    display: flex;
    align-items: center;
}
.registro__in--btn input{
    width: 200px;
    height: 25px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid gainsboro;
    outline: none;
}
.registro__in--btn input::-webkit-input-placeholder { 
    font-family: var(--letra1);
    font-weight: 100;
    color: var(--color-primario); 
    font-size: 18px;
    opacity: 0.3;
    padding:4px 0 0 10px;
    
}

.empresa{
    grid-area: empresa;
    background: var(--color-import);
    
}
.empresa h3{
    padding-left: 15px;
    color: var(--color-primario);
}
.servicios h3{
    padding-left: 50px;
    color: var(--color-primario);
}
.servicios{
    grid-area: servicios;
    background: var(--color-import);

}
.links{
    list-style: none;
    margin: 0;
    margin-right: 40px;
    margin-top: 10px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    
}
.links a{
    font-size: 16px;
    text-decoration: none;
    color: var(--color-primario);
}
.logo{
    grid-area: logo;
    
    padding-left: 20px;
    background: var(--color-import);

}
.logo img{
    filter: grayscale(51%) blur(0px) sepia(1) saturate(0.81) opacity(1) brightness(0%) contrast(100%) hue-rotate(320deg) invert(100%) ;

}
.logo a{
    color: var(--color-primario);
}
.tyc{
    grid-area: tyc;
    background: var(--color-import);

}
.boton-rojo {
    padding: 5px 10px;
    background-color: var(--color-primario); 
    color: var(--color-claro);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-decoration: none;
    font-size: 14px;
}
.boton-rojo:hover{
    background-color: var(--color-alterno);
    opacity: 0.7;
}






