
:root {
    --color-primario: #F3A847;
    --color-alterno: #f59416;
    --color-claro: #ffffff;
    --color-import:#14213d ;
    --letra1: 'Audiowide', cursive;

  }
*{
    font-family: var(--letra1);

}
body{
    margin: 0;
    box-sizing: content-box;
    font-family: var(--letra1)
}
h4{
    font-size: 14px;
    margin: 11px 0 8px;
}

header{
    width: 100%;
    height: 150px;
    /*border: 0.01px solid black;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:var(--color-import) ;
}
header img{
    width: 150px;
    height: 150px;
    padding-left: 40px;
    padding-right: 60px;
}
.nav__shop,
.nav__disc{   
   
    padding: 5px;
    text-decoration: none;
    color:var(--color-primario);
}

.buscar{
    
    width: 300px;
    height: 30px;
    border-radius: 12px;
    margin: 0 30px 0;
    display: flex;
    justify-content: space-between;
}
.buscar input{
    width: 260px;
    height: 30px;
    padding: 0 10px 0 10px;
    border: none;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}
::-webkit-input-placeholder { 
    font-family: var(--letra1);
    font-weight: 100;
    color: var(--color-primario); 
    font-size: 17px;
    opacity: 0.3;
} 
.buscar__icon{
    border: none;
    outline: none;
    width: 40px;
    height: 30px;
    padding: 0;
    background: var(--color-primario);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.buscar__icon--img{
    padding: 0 10px 0 10px;
    width: 12px;
    height: 14px;
    background: var(--color-primario);
}

.buscar__icon--img:hover, 
.buscar__icon:hover{
    background: #e6ad63;
}

main{
    width: 100%;
    height: 150vH;
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 1px 1px;
}

.container-filtros {
    grid-column: 1/2;
    border-right: 1px dashed black;
    display: grid;
    grid-template-rows: 20% 25% 40%;
}

.genero{
    grid-row: 1/2;
    width: 100%;
    
}
.color{
    grid-row: 2/3;
    width: 100%;
}
.talla{
    grid-row: 3/4;
      width: 100%;
}

.genero h2,
.color h2,
.talla h2{
    padding-left: 20%;
    font-size: 22px;
    margin: 30px auto 5px;
}
option,
optgroup{
    border: none;
    list-style: none;
}
.despliegue{
    width: 100%;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.genero__seccion,
.color__seccion,
.talla__seccion {
    width: 150px;
    height: 20px;
    background-size: cover;
    display: flex;
    border: 1px solid gainsboro;
    list-style: none;
    border-radius: 5px;
}

/*=================================*/

/*____________PRODUCTOS____________*/
.container-productos{
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 33%33% 33%;
    grid-template-rows: 50% 50%;
    /*border: 1px solid rgb(0, 17, 255);*/
}

.container-productos__btn1,
.container-productos__btn2,
.container-productos__btn3,
.container-productos__btn4,
.container-productos__btn5,
.container-productos__btn6 {
    grid-column: 1/2;
    grid-row:1/2;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid rgb(199, 199, 199);
    box-shadow: 0px 0px 10px 3px rgba(165, 165, 165, 0.5);
    cursor: pointer;
    text-decoration: none;
    color: var(--color-primario);
    border-radius: 5px;
    width: 90%;
    height: 90%;  
}
.container-productos__btn2 {
    grid-column: 2/3;
    grid-row:1/2;
}
.container-productos__btn3{
    grid-column: 3/4;
    grid-row: 1/2;
}
.container-productos__btn4{
    grid-column: 1/2;
    grid-row: 2/3;
}
.container-productos__btn5{
    grid-column: 2/3;
    grid-row: 2/3;
}
.container-productos__btn6{
    grid-column: 3/4;
    grid-row: 2/3;
}

/*modal*/
.card__img--tamaño {
    width: 200px;
    height: 280px;
    margin: 0;
    margin: 10px auto ;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
.card__img--imagen {
    width: 165px;
    height: 250px;
    object-fit: cover;
    justify-self: center;
  }
.mini-description{
    width: 70%;
    height: 110px;
    margin-bottom: 40px;
    
}
.mini-description h4{
    margin: 5px 0 15px 0;
}
.mini-description button{
    width: 100%;
    height: 30px;
    margin: 7px 0 0 0 ;
    border-radius: 20px;
    border: 1px solid rgb(221, 221, 221);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    cursor: wait;
}
.mini-description button img{
    width: 20px;
}

.modal{
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
    
  }
.modal:target{
    opacity:1;
    pointer-events:auto;
    
}
/*
.#miModal:focus{

}*/
.modal-contenido{
    background-color:var(--color-claro);
    width:600px;
    padding: 20px ;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    background: #ffffff;
  }

 
.conten-left {
    width: 50%;
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 12px;
}
.modal__img--imagen,
.modal__img--imagen2,
.modal__img--imagen3, 
.modal__img--imagen4, 
.modal__img--imagen5, 
.modal__img--imagen6 { 
    width: 200px;
    height: 300px;
    object-fit: cover;   
}
.descripcion{
    width: 90%;
}
.contend-rigth h3{
    margin-bottom: 10px;

}
.exit{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.exit__btn{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    border: 1px solid rgb(230, 230, 230);
    opacity: 0.6;
}



h5 {
    margin: 15px 0 10px 5px;

  }
.lista-color {
    margin: 0;
    width: 190px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    list-style:none;    
    border: none;            
  }
.lista-color__color{
    margin: auto 3px auto;
    border: none;
}
.lista-color__u,
.lista-color__d,
.lista-color__t {
    width: 40px;
    height: 40px;
    border: 2px solid rgb(255, 255, 255);
    
}
.lista-color__u  {
    background: rgb(0, 0, 0);
}

.lista-color__d {
    background: #777252;
  }
.lista-color__t {
    background: #FF9500;
  }
.lista-color__u:active,
.lista-color__d:active,
.lista-color__t:active{
    border: white;
}
.lista-color__u:focus,
.lista-color__d:focus,
.lista-color__t:focus{
    border: white;
}

  /*==================================*/
.size {
    margin: 0 0 10px 0;
    width: 250px;
    height: 50px;           
    display: flex;
    padding: 0;
    list-style:none;

  }
.size__li{
    margin: auto 3px auto;
    border: none;
  }
.size__btn {
    width: 45px;
    height: 40px;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 10px;
    list-style: none;
    outline: none;
  }
  
.size__btn:active {
    background: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
  }
.size__btn:focus {
    background: black;
    color:rgb(255, 255, 255);
}
  
form {
    width: 250px;
    height: 50px;
    margin: 15px 0 20px 0;
    border: 1px solid rgb(231, 231, 231);
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
form p {
    

  }
  
form label {
    font-size: 22px;
  }
  
input[type="radio"] {
    display: none;
  }
  
label {
    color: grey;
  }
  
.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
label:hover,
label:hover ~ label {
    color: var(--color-alterno);
  }
  
input[type="radio"]:checked ~ label {
    color: var(--color-primario);
  }
label:focus,
label:focus ~ label {
    color: var(--color-alterno);
  }
  
input[type="radio"]:focus ~ label {
    color: var(--color-primario);
  }

.add{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add a{
    text-decoration: none;
    cursor: pointer;
    
}
.add__btn{
    width: 250px;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    outline: none;
    border: 1px solid rgb(224, 224, 224);
    cursor: pointer;
}
.add__btn img{
    width: 25px;
    opacity: 0.5;
}




/*____________PRODUCTOS____________*/




footer{
    width: 100%;
    height: 315px;
    border-top: 1px solid gainsboro;
    /*border: 1px solid black;*/
    /*background: var(--color-import);*/
    display: grid;
    grid-template-columns: 28% 72%;
    grid-template-rows: 36% 43% 21%;
    grid-template-areas: "redes registro" 
                         "empresa servicios"
                         "logo tyc";
}

.img-red{
    padding: 5px;
}
.redes{
    grid-area: redes;
    /*border: 1px solid black;*/
    background: var(--color-primario);
}
.redes__lista{
    padding:0 ;
    margin: 32px  10px ;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.registro{
    grid-area: registro;
    /*border: 1px solid red;*/
    display: flex;
}
.registro__title{
    width: 200px;
    align-self: center;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
}   
.registro__title h1{
    font-size: 16px;
    font-weight: 700;
}
.registro__p{
    width: 300px;
    display: flex;
    align-items: center;
}
.registro__p p{
    padding: 15px;
    margin: 0;
    font-size: 15px;
}
.registro__in{
    width: 350px;
    display: flex;
    align-items: center;
}
.registro__in--btn{
    width: 320px;
    height: 50px;
    display: flex;
    align-items: center;
}
.registro__in--btn input{
    width: 200px;
    height: 25px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid gainsboro;
    outline: none;
}
.registro__in--btn input::-webkit-input-placeholder { 
    font-family: var(--letra1);
    font-weight: 100;
    color: var(--color-primario); 
    font-size: 18px;
    opacity: 0.3;
    padding:4px 0 0 10px;
    
}

.empresa{
    grid-area: empresa;
    background: var(--color-import);
    
}
.empresa h3{
    padding-left: 15px;
    color: var(--color-primario);
}
.servicios h3{
    padding-left: 50px;
    color: var(--color-primario);
}
.servicios{
    grid-area: servicios;
    background: var(--color-import);

}
.links{
    list-style: none;
    margin: 0;
    margin-right: 40px;
    margin-top: 10px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    
}
.links a{
    font-size: 16px;
    text-decoration: none;
    color: var(--color-primario);
}
.logo{
    grid-area: logo;
    
    padding-left: 20px;
    background: var(--color-import);

}
.logo img{
    filter: grayscale(51%) blur(0px) sepia(1) saturate(0.81) opacity(1) brightness(0%) contrast(100%) hue-rotate(320deg) invert(100%) ;

}
.logo a{
    color: var(--color-primario);
}
.tyc{
    grid-area: tyc;
    background: var(--color-import);

}
.boton-rojo {
    padding: 5px 10px;
    background-color: var(--color-primario); 
    color: var(--color-claro);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-decoration: none;
    font-size: 14px;
}
.boton-rojo:hover{
    background-color: var(--color-alterno);
    opacity: 0.7;
}






